canvas {
    border:none ;
    border-radius: 50%;
    height: 50vh;
    background-color: darkslategrey;
}
.container{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: aquamarine;
}